extends ./layout/index

block contenido
    main.container.mt-5
        div.row
            div.col-md-5
                img(src="img/nosotros.jpg", alt="Imagen de la torre eiffel", class="img-fluid")
            div.col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam auctor malesuada est ac fermentum. Aliquam feugiat posuere hendrerit. Vivamus gravida at risus sed rutrum. Nullam pellentesque condimentum quam, at ullamcorper magna feugiat nec. Nam interdum et neque et congue. Fusce et rutrum erat. Aliquam tempor scelerisque urna eu mattis. Nullam sed magna mattis neque dapibus dictum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

                p Donec sodales pellentesque ante. Nunc in euismod odio. Pellentesque quis tellus eget est ullamcorper suscipit vel sit amet sapien. Maecenas ut ultrices tellus. Praesent vitae risus quis elit rutrum facilisis. Mauris malesuada sagittis nisl, eu sodales magna lobortis non. Suspendisse nibh felis, vestibulum id nisl at, lobortis dignissim nulla. Phasellus varius, tortor eu luctus lobortis, diam dui pharetra risus, vitae posuere dui purus vel arcu. Donec et posuere sem.

                p Sed vel nunc quis ipsum dignissim tincidunt. Aliquam dictum, eros ut tincidunt vulputate, sem urna tristique ante, ac cursus odio augue et enim. Mauris maximus, lacus non mattis tempus, elit felis fringilla lorem, eu egestas erat nisi et augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent pulvinar, est maximus elementum consequat, lectus sapien tristique elit, sit amet luctus mi nisi in neque.
    div.listado-iconos
        div.container.mt-5.py-5.text-center
            div.row
                div.col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono de seguridad escudo", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent pulvinar, est maximus elementum consequat, lectus sapien tristique elit, sit amet luctus mi nisi in neque.
                div.col-md-4
                    img(src="img/icono_destinos.svg", alt="icono de destinos mapa con ruta", class="img-fluid mb-4")
                    h2.mb-4 Mejores desinos
                    p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent pulvinar, est maximus elementum consequat, lectus sapien tristique elit, sit amet luctus mi nisi in neque.
                div.col-md-4
                    img(src="img/icono_precios.svg", alt="icono de precios monedas", class="img-fluid mb-4")
                    h2.mb-4 Mejores precios
                    p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent pulvinar, est maximus elementum consequat, lectus sapien tristique elit, sit amet luctus mi nisi in neque.
    